@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --bgColor:#063ab9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 15px;
}

button{
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    color: var(--bgColor);
    background-color: #ffffff;
    transition: .2s ease-in-out;

    &.btn-secondary{
        background-color: var(--bgColor);
        color: #ffffff;
    }

    &:hover{
        scale: 1.1;
    }
}